<!DOCTYPE html>
<html lang="en">

<div id="head"></div>

<body>
  <div align="center">

    <h1 id="game-title">Game Title</h1>

    <h3 id="main-message">
      Main Message Content
    </h3>

    <h3 id="result-message">
      Result Message Content
    </h3>

    <form id="game-form" method="POST">
      <label for="guess" id="enter-guess">Guess Text</label>
      <input type="number" id="guess" name="guess" />
      <input id="submit" type="submit" value="Submit" />
    </form>

    <div id="footer"></div>
  </div>
</body>
</html>